body{
    margin: 0 auto;
    border: 15px;
    border-radius: 50px;
}
#topnav{
    display: flex;
    gap: 10px;
}
#sign{
    background-color: black;
    color: white;
    border-radius: 5px ;
    padding: 18px;
    float: center;
    width: 5%;
}
#header{
    margin-top: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    display: flex;
    gap: 50px;
}
#border1{
    background-color: #b7d1ba;
    border: solid 1px;
    border-color: skyblue;
    height: 900px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 6%;
}
#border2{
    background-color:white;
    border: solid 1px;
    border-color: rgb(7, 201, 226);
    height: 80%;
    width: 80%;
    margin:auto;
    margin-top: 5%;
    padding: 10px;
    gap: 20%;
}


